/.idea/
/runtime/
*.pyc
/bitcoinaverage/server.py
/api/.htaccess
/api/all
/api/ignored
/api/ticker/all
/api/ticker/CAD
/api/ticker/EUR
/api/ticker/GBP
/api/ticker/USD
/api/ticker/PLN
/api/ticker/RUB
/api/exchanges/all
/api/exchanges/CAD
/api/exchanges/EUR
/api/exchanges/GBP
/api/exchanges/USD
/api/exchanges/PLN
/api/exchanges/RUB
