/.idea/
/runtime/*.log
*.pyc
/bitcoinaverage/server.py
/www/config.js
/www/fiat_rates_config.js
/api/no-mtgox/all
/api/no-mtgox/ignored
/api/no-mtgox/ticker/all
/api/no-mtgox/ticker/USD
/api/no-mtgox/ticker/GBP
/api/no-mtgox/ticker/EUR
/api/no-mtgox/ticker/CAD
/api/no-mtgox/ticker/PLN
/api/no-mtgox/ticker/RUB
/api/no-mtgox/ticker/AUD
/api/no-mtgox/ticker/BRL
/api/no-mtgox/ticker/CHF
/api/no-mtgox/ticker/ILS
/api/no-mtgox/ticker/CNY
/api/no-mtgox/ticker/CZK
/api/no-mtgox/ticker/DKK
/api/no-mtgox/ticker/HKD
/api/no-mtgox/ticker/JPY
/api/no-mtgox/ticker/NZD
/api/no-mtgox/ticker/SEK
/api/no-mtgox/ticker/SGD
/api/no-mtgox/ticker/THB

/api/no-mtgox/exchanges/all
/api/no-mtgox/exchanges/USD
/api/no-mtgox/exchanges/GBP
/api/no-mtgox/exchanges/EUR
/api/no-mtgox/exchanges/CAD
/api/no-mtgox/exchanges/PLN
/api/no-mtgox/exchanges/RUB
/api/no-mtgox/exchanges/AUD
/api/no-mtgox/exchanges/BRL
/api/no-mtgox/exchanges/CHF
/api/no-mtgox/exchanges/ILS
/api/no-mtgox/exchanges/CNY
/api/no-mtgox/exchanges/CZK
/api/no-mtgox/exchanges/DKK
/api/no-mtgox/exchanges/HKD
/api/no-mtgox/exchanges/JPY
/api/no-mtgox/exchanges/NZD
/api/no-mtgox/exchanges/SEK
/api/no-mtgox/exchanges/SGD
/api/no-mtgox/exchanges/THB

/api/.htaccess
/api/all
/api/ignored
/api/ticker/all
/api/ticker/EUR
/api/ticker/GBP
/api/ticker/USD
/api/ticker/CAD
/api/ticker/PLN
/api/ticker/RUB
/api/ticker/AUD
/api/ticker/BRL
/api/ticker/CHF
/api/ticker/ILS
/api/ticker/CNY
/api/ticker/CZK
/api/ticker/DKK
/api/ticker/HKD
/api/ticker/JPY
/api/ticker/NZD
/api/ticker/SEK
/api/ticker/SGD
/api/ticker/THB

/api/exchanges/all
/api/exchanges/EUR
/api/exchanges/GBP
/api/exchanges/USD
/api/exchanges/CAD
/api/exchanges/PLN
/api/exchanges/RUB
/api/exchanges/AUD
/api/exchanges/BRL
/api/exchanges/CHF
/api/exchanges/ILS
/api/exchanges/CNY
/api/exchanges/CZK
/api/exchanges/DKK
/api/exchanges/HKD
/api/exchanges/JPY
/api/exchanges/NZD
/api/exchanges/SEK
/api/exchanges/SGD
/api/exchanges/THB
