API_DOCUMENT_ROOT = ''  # if empty - <main.py folder>/api used
WWW_DOCUMENT_ROOT = ''  # if empty - <main.py folder>/www used
LOG_PATH = ''  # if empty - <main.py folder>/runtime used

API_INDEX_URL = '' #should be not empty
