API_DOCUMENT_ROOT = ''  # if empty - <main.py folder>/api used
HISTORY_DOCUMENT_ROOT = ''  # if empty - <main.py folder>/api/history used
WWW_DOCUMENT_ROOT = ''  # if empty - <main.py folder>/www used

LOG_PATH = ''  # if empty - <main.py folder>/runtime used
PROJECT_PATH = ''  # if empty - <main.py folder> used

FRONTEND_INDEX_URL = '' #should be not empty, default - 'https://bitcoinaverage.com/'
API_INDEX_URL = '' #should be not empty, default - 'https://api.bitcoinaverage.com/'
API_INDEX_URL_HISTORY = '' #should be not empty, default - 'https://api.bitcoinaverage.com/history/'
# DEFAULT_API_QUERY_FREQUENCY_OVERRIDE = 60 #if present - overrides normal frequency of exchange APIs calls
# DEFAULT_API_QUERY_REQUEST_HEADER_USER_AGENT_OVERRIDE = 'bitcoinaverage.com test query bot' #if present - overrides normal "User-Agent" request value

FONT_PATH = ''
OPENEXCHANGERATES_APP_ID = '' # for openexchangerates.org integration, for fiat exchange rates
BITCOIN_DE_API_KEY = '' # for bitcoin.de integration
